@inject DbInitModel Model

@if (Model.ErrorMessage is not null)
{
    <MudOverlay Visible="true" DarkBackground="true" ZIndex="9999">
        <MudPaper Class="pa-6" Style="max-width: 500px;" Elevation="4">
            <MudStack Spacing="3">
                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                    <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Error" Size="Size.Large" />
                    <MudText Typo="Typo.h5">Database Error</MudText>
                </MudStack>
                <MudText Typo="Typo.body1" Style="white-space: pre-line;">
                    @Model.ErrorMessage
                </MudText>
                <MudButton Variant="Variant.Filled"
                           Color="Color.Warning"
                           OnClick="@(() => Model.ResetDatabase.ExecuteAsync())"
                           StartIcon="@Icons.Material.Filled.RestartAlt"
                           Disabled="Model.IsResetting"
                           FullWidth="true">
                    @if (Model.IsResetting)
                    {
                        <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" />
                        <span>Resetting...</span>
                    }
                    else
                    {
                        <span>Reset Database</span>
                    }
                </MudButton>
            </MudStack>
        </MudPaper>
    </MudOverlay>
}
else if (Model.WasRecreated)
{
    <MudAlert Severity="Severity.Info" Class="mb-4" Variant="Variant.Outlined"
              ShowCloseIcon="true" CloseIconClicked="@(() => Model.DismissRecreated.Execute())">
        <MudText Typo="Typo.body1">
            Database was recreated due to schema changes. Previous data has been cleared.
        </MudText>
    </MudAlert>
}
